.boot-container {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at center, #000000 60%, #0a0a0a 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00ffcc;
    font-family: "Courier New", monospace;
    transition: background 0.5s ease;
}

.power-section {
    text-align: center;
}

.power-button {
    font-size: 4rem;
    color: #00ffcc;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.power-button:hover {
    transform: scale(1.1);
}

.hint-text {
    margin-top: 10px;
    font-size: 1rem;
        color: #10b98188;
        font-family: monospace;
        text-align: center;
}

.booting-text p {
    padding: 8px 2px;
    opacity: 0.9;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes flicker {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}



.booting-text {
    color: #10b981;
    font-family: monospace;
    animation: flicker 1s infinite alternate;
}



/* Target the SVG directly */
.power-button svg {
    transition: transform 0.6s ease, filter 0.8s ease;
}

/* Hover effect: subtle glow + blur */
.power-button:hover svg {
    transform: scale(1.05);
    filter: drop-shadow(0 0 12px #10b981);
}